[workspace]
channels = ["rapidsai", "conda-forge", "nvidia" ]
name = "cuCascade"
platforms = ["linux-64", "linux-aarch64"]
requires-pixi = ">=0.59"

[system-requirements]
cuda = "13"

[activation.env]
LIBCUDF_ENV_PREFIX = "$CONDA_PREFIX"
# Following https://github.com/rapidsai/rapids-cmake/blob/84f8cf8386ac56e3f4f9400f44e752345d8c2997/rapids-cmake/cuda/set_architectures.cmake#L62
CUDAARCHS = "75-real;80-real;86-real;90a-real;100f-real;120a-real;120"

[dependencies]
cmake = "4.1.*"
cuda-nvcc = "*"
cuda-nvml-dev = "*"
cuda-version = "13.*"
cxx-compiler = "*"
make = "*"
ninja = "*"
sccache = "*"
unzip = "*"

libcudf = "25.10.*"
libcurand-dev = "*"
pre-commit = "*"
fmt = "*"
numactl-devel-cos7-x86_64 = "*"
doxygen = "*"
python = "*"
jinja2 = "*"

[tasks]
build = "cmake --preset release && cmake --build build/release && pixi run docs"
test = "cd build/release && ctest --output-on-failure"
lint = "pre-commit run -a"
lint-install = "pre-commit install"
docs = "doxygen Doxyfile && python scripts/generate_api_docs.py build/docs/xml docs/API_REFERENCE.md"
